@media (prefers-color-scheme: dark) {
	body {
		background-color: '#75cfb8';
	}
	div #weatherIcon {
		border-color: #f0e5d8;
		background-color: #fce1be;
	}
	div #weatherCard {
		border-color: #f0e5d8;
		background-color: #bbdfc8;
		color: '#000000';
	}
}
