body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background:#75cfb8;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  div #weatherIcon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    border-color: #f0e5d8;
    background-color:#fce1be; 
    border-style: solid;
    border-radius:20px;
  }

  div #weatherCard{
    border-color: #f0e5d8;
    border-style: solid;
    padding: 10px;
    background-color:#bbdfc8;
    border-radius:20px;
  }

  div #weatherMain{
    margin-top: 15px;
  }

  div #weatherData{
    margin-top: 15px;
  }

  div #weatherWind{
    margin-top: 15px;
  }

  div #logoApp{
    margin-bottom: -5px;
  }