@import url('https://fonts.googleapis.com/css?family=Copse');

body,
span {
  font-family: 'Copse';
}
div {
  font-family: 'Copse';
}
h2 {
  font-family: 'Copse';
}
code {
  font-family: 'Copse';
}
html {
  font-family: 'Copse';
}
